Code/
Kvantum/
arkrc
baloofileinformationrc
dconf/
dolphinrc
dunst/
gh/
gtk-3.0/
gtk-4.0
kde.org/
kdeglobals
mimeapps.list
nwg-look/
pavucontrol.ini
qt5ct/
qt6ct/
session/
systemd/
wlogout/
xsettingsd/

